<h1>My Movies</h1>
<hr>
<h3>Add Movie</h3>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label>Title</label>
  <input
  type="text"
  name = title
  ngModel>
  <hr>
  <label>Genre</label>
  <input type="text"
  name = genre
  ngModel>
  <hr>
  <button type="submit">Create Movie</button>
</form>
<hr>
<h3>List of Movies</h3>
<hr>
<button (click)="onRecieveMovies()">Retrieve Movies</button>
<p *ngIf="myMovies.length < 1">No posts available!</p>
      <ul class="list-group" *ngIf="myMovies.length >= 1">
        <li class="list-group-item" *ngFor="let post of myMovies">
          <h3>{{ post.title }}</h3>
          <p>{{ post.genre }}</p>
